.absolute {
  position: absolute;
}
 
.relative {
  position: relative;
}
 
.relative-2 {
  position: relative;
  top: 180px;
}
 
.relative-3 {
  position: relative;
  background-color: chocolate;
  width: 1100px;
  height: 60px;
  top: 110px;
}
 
.relative-4 {
  position: relative;
  background-color: salmon;
  width: 1100px;
  height: 220px;
  top: 940px;
}
 
.left {
  left: 0;
}
 
.right {
  right: 0;
}
 
.margin {
  margin-left: 180px;
}
 
.margin-top {
  margin-top: 120px;
}
 
.margin-bottom {
  margin-bottom: 20px;
}
 
.margin-left {
  margin-left: 240px;
}
 
.bg-purple {
  background-color: indigo;
  width: 160px;
  height: 100px;
}
 
.bg-red {
  background-color: red;
  width: 740px;
  height: 100px;
}
 
.width {
  width: 160px;
}
 
.height {
  height: 800px;
}
 
.height-290 {
  height: 290px;
}
 
.height-490 {
  height: 490px;
}
 
.bg-blue {
  background-color: blue;
}
 
.bg-white {
  background-color: white;
  width: 700px;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
}
 
.middle {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 700px;
  height: 120px;
}
 
.item {
  background-color: white;
  width: 220px;
  height: 120px;
}
 .bg-black {
  background-color: black;
  width: 740px;
  height: 100px;.bg-black{
  background-color: black;
}
.bg-salmon{
  background-color:salmon;
}
.bg-orange{
  background-color: orange;